{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% extends "main/homepage/case-studies/base.html" %}
{% load static from staticfiles %}

{% comment %}
 %
 % Context:
 %  -- None
 %
{% endcomment %}

{% block link %}https://www.facebook.com/chcemvedietsk/posts/1737298786550549{% endblock %}
{% block img %}{% static "main/images/case-studies/2.jpg" %}{% endblock %}
{% block date %}11. august 2016{% endblock %}
{% block text %}
  Ako pomáha náš portál v investigative, ale aj o ďalších nástrojoch, hovorí J. Suchal v prednáške.
  Náš portál sa objaví v 23:20.
{% endblock %}
