{# vim: set filetype=htmldjango shiftwidth=2 :#}


<h1>Sloboda informácií: Ako žiadať o informácie</h1>

<p>
Potrebujete vedieť informáciu, o ktorej predpokladáte, že ju má verejná inštitúcia k dispozícii.
Máte právo sa jej to spýtať, a inštitúcia je povinná vám odpovedať. V zákone o slobode informácií sa
úrady, školy, verejné inštitúcie, a právnické osoby nimi zriadené preto volajú povinná osoba. V
ďalšom texte pre zrozumiteľnosť budeme používať pojem inštitúcia.
</p>

<p>
Tento návod vás prevedie tým, ako o informáciu žiadať.
</p>

<p>
Samotné podanie je relatívne jednoduché, môžu však nastať komplikácie. Ak inštitúcia informáciu
nemá, alebo ju nesmie sprístupniť, vydá vám o tom oficiálne rozhodnutie, ktoré príde poštou. Ak si
myslíte, že nemajú pravdu, t.j. že informáciu majú, zatajili ju, alebo ju príliš vycenzurovali,
môžete sa odvolať.
</p>

<h2>Čo sa môžem pýtať?</h2>
<p>
V princípe sa môžete spýtať na hocičo, je však potrebné uvedomiť si dve praktické veci. Je podstatne
lepšie dokument, ktorý požadujete, presne pomenovať. Ideálne, ak viete jeho spisovú značku alebo
presný názov. Zjednodušíte tým prácu úradníkovi. Zároveň, v prípade sporu, viete ľahko dokázať, či
inštitúcia dokument má alebo nie. Horšie je pýtať sa na nejakú útržkovitú informáciu.
</p>

<p>
<b>Príklad:</b> <em>„Koľko benzínu minula vaša inštitúcia minulý rok?“</em>. Aj pri najlepšej vôli
niekedy úradník nevie, kde by informáciu hľadal, pravdepodobne mu to zaberie viac času a možno
dostanete odpoveď, ktorá vám nič nepovie. Omnoho lepšie je tu zamyslieť sa a pýtať si konkrétny
dokument, napr. <em>„Knihu jázd za rok 20xx“</em>. Tam sa napokon dozviete, že niektoré vozidlá sú
dieselové a teda vaša pôvodná otázka ani nebola veľmi presná. Ak je inštitúcia výskumný ústav, môže
navyše benzín používať aj na iný účel a nie je jasné, či ste náhodou nemali na mysli toto použitie.
Mohli by ste napr. dostať odpoveď v podobe faktúr za nákup laboratórneho benzínu.
</p>

<p>
Aby ste otázku presnejšie sformulovali, pomôže poznať, aspoň približne, úradné procesy. Niektoré
dokumenty alebo aspoň odkazy na ne sa dajú nájsť na stránke inštitúcie. Vždy je dobre, ak si
pozriete, ako inštitúcia interne funguje, ako pomenúva dokumenty. Ak existuje zákon, podľa ktorého
by mal existovať dokument/informácia, ktoré chcete, pomôže ho spomenúť.
</p>

<p>
Môžete sa spýtať aj na konkrétnu, jasnú informáciu, napr. <em>„Aká bola cena za Systém X?“</em>.
Vieme asi predpokladať, že táto informácia bude na faktúre. Znova, niekedy je lepšie si rovno
vypýtať faktúru &mdash; môže byť viac, napr. dodanie systému, údržba systému, zmeny na systéme atď.
Dozviete sa, či bola platená DPH, dátumy a podobne.
</p>

<p>
Nepotrebujete uvádzať, načo informáciu potrebujete (výskum, novinár, diplomovka…). V závislosti od
situácie to môže pomôcť alebo aj nahnevať úradníka (<em>„Čo ma stále tí študenti otravujú!?“</em>).
Vo všeobecnosti neodporúčame ten dôvod uvádzať, radšej sa zamerať na presné sformulovanie otázky.
</p>

<h2>Nesťažujte sa</h2>
<p>
Nemá zmysel pýtať sa napr. <em>„Prečo je ten váš systém taký hnusný a pomalý?!“</em>. Ak inštitúcia
nemá zhodou okolností o tom vypracovaný dokument napr. <em>„Analýza rýchlosti a použiteľnosti
používateľského rozhrania“</em>, tak vám nemusí na otázku ani odpovedať. Nie je povinná odpoveď
vyprodukovať.
</p>

<p>
Ak chcete upozorniť na takúto vec, je lepšie poslať <b>sťažnosť</b>.
</p>

<p>
Alebo môžete skúsiť otázku preformulovať do neutrálnej podoby a spýtať sa na zákonné a zmluvné
povinnosti, napr.:
</p>
<ul class="chv-icon-ul">
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    <em>„Bola dodávateľovi systému zadaná povinnosť vypracovať používateľské rozhranie tak, aby
    zodpovedalo požiadavkám stanoveným vo Výnose o štandardoch pre informačné systémy verejnej
    správy?“</em>
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    <em>„Bola vykonaná kontrola splnenia tejto požiadavky pri preberaní systému?“</em>
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    <em>„Bol dodávateľ v prípade zistenia nedostatku na túto skutočnosť upozornený?“</em>
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    <em>„Aký je termín dodania opravy?“</em>
  </li>
</ul>

<h2>Koho sa pýtať?</h2>
<p>
Zjednodušene povedané, akéhokoľvek štátneho úradu alebo inštitúcie platenej z verejných peňazí.
Patria sem aj firmy a ďalšie právnické osoby, zriadené verejnou inštitúciou, napríklad dopravné
podniky miest, ale v niektorých prípadoch vám tieto firmy nemusia sprístupniť všetko &mdash;
zjednodušene povedané, mali by vám sprístupniť všetko, čo sa týka nakladania s verejnými peniazmi.
Veď sa spýtajte a uvidíte.
</p>

<p>
Nepotrebujete vedieť konkrétny útvar, odbor, alebo človeka &mdash; pýtate sa inštitúcie ako celku.
</p>

<h2>Ako odoslať žiadosť?</h2>
<p>
V ďalšom texte sa budeme venovať podaniu žiadosti cez portál ChcemVediet.sk, ktorý podanie žiadosti
a následné kroky zjednodušuje.
</p>

<h3>Povinnosti - checklist</h3>
<ul class="chv-icon-ul">
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    sformulovať, čo sa pýtam, napr. <em>„Interná smernica č. AS-347“</em>
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    vedieť, koho sa pýtam (názov inštitúcie)
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    mať email, kam chcem dostať informáciu a notifikácie o vybavovaní žiadosti a termínoch
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    mať poštovú adresu, kam mi môže prísť doporučený list - papierové rozhodnutie, ak mi informáciu
    nedajú
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    <a href="{% url 'account_signup' %}">potrebujem sa registrovať na portáli Chcemvediet.sk</a>
  </li>
  <li>
    <i class="chv-icon chv-icon-li chv-icon-lg icon-ok chv-color-blue-ll"></i>
    ak som registrovaný, kliknem <a href="{% url 'inforequests:create' %}">Nová žiadosť</a>
  </li>
</ul>
