{% extends "admin/delete_confirmation.html" %}
{% load amend prepend before after set_attributes from poleno.amend %}

{% block content %}
  {% amend %}
    {{ block.super }}
    {% after path="./ul[last()]" %}
      {% if outbound %}
        <p>The following outbound messages will be deleted:</p>
        <ul>{{ outbound|unordered_list }}</ul>
      {% endif %}
      {% if inbound %}
        <p>The following inbound messages will be marked undecided:</p>
        <ul>{{ inbound|unordered_list }}</ul>
      {% endif %}
    {% endafter %}
    {% if snoozed_actions %}
      {% prepend path=".//form" %}
        <p>
          <label><input name="snooze" type="checkbox" /> Extend snooze of previous actions by
            {{ ADMIN_EXTEND_SNOOZE_BY_DAYS }} days from today? All of the following actions will be
            snoozed:
          </label>
        </p>
        <ul>{{ snoozed_actions|unordered_list }}</ul>
      {% endprepend %}
    {% endif %}
    {% before path=".//form//input[@type='submit']" %}
      {% if delete_warnings %}
        <ul class="messagelist">
          {% for warning in delete_warnings %}
          <li class="warning">{{ warning }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if delete_constraints %}
        <div class="errornote">
          <p>Delete not allowed.</p>
          <ul>{{ delete_constraints|unordered_list }}</ul>
        </div>
        {% set_attributes path=".//form//input[@type='submit']" disabled=True %}
      {% endif %}
    {% endbefore %}
  {% endamend %}
{% endblock %}
