*.db
*.pyc
*.mo
/.coverage
/.instrumental.cov
/.htpasswd
/setup.json
/shell.py
/private/
/env/
/cache/
/static/
/fontello/output
/logs/*.log
/logs/*.log.*
/media/attachments
/media/attachment_normalizations
/media/attachment_recognitions
/media/attachment_anonymizations
/media/attachment_finalizations
/fixtures/*.configured.json
/chcemvediet/settings/configured.py
