{% extends "admin/delete_confirmation.html" %}
{% load amend before set_attributes from poleno.amend %}

{% block content %}
  {% amend %}
    {{ block.super }}
    {% if delete_constraints %}
      {% before path=".//form" %}
        <div class="errornote">
          <p>Delete not allowed.</p>
          <ul>{{ delete_constraints|unordered_list }}</ul>
        </div>
      {% endbefore %}
      {% set_attributes path=".//form//input[@type='submit']" disabled=True %}
    {% endif %}
  {% endamend %}
{% endblock %}
