{# vim: set filetype=htmldjango shiftwidth=2 :#}

{% comment %}
    %
    % Context:
    %  -- None
    %
{% endcomment %}

<p>
  Spolufinancované Európskou úniou v rámci projektu č.101091634 – Impact Acceleration of Slovak CSOs.
  Vyjadrené názory a stanoviská sú názormi a stanoviskami autora/-ov a nemusia nevyhnutne odrážať názory Európskej únie alebo Európskej výkonnej agentúry pre vzdelávanie a kultúru (EACEA).
  Európska únia ani Európska výkonná agentúra pre vzdelávanie a kultúru za ne nezodpovedá.
</p>
