{# vim: set filetype=htmldjango shiftwidth=2 :#}
{% load anonymize_user from chcemvediet.styleguide %}

{% comment %}
 %
 % Context:
 %  -- inforequest: chcemvediet.apps.inforequests.models.Inforequest
 %
{% endcomment %}


<div class="panel panel-border-gray">
  <div class="panel-body">
    <ul class="chv-icon-ul">
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-doc-inv"></i>
        {% if request.user == inforequest.applicant %}
          <strong>{{ inforequest.subject }}</strong>
        {% else %}
          <strong>{% anonymize_user inforequest inforequest.subject %}</strong>
        {% endif %}
      </li>
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-building"></i>
        {{ inforequest.main_branch.historicalobligee.name }}
      </li>
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-user"></i>
        {% if request.user == inforequest.applicant %}
          {{ inforequest.applicant_name }}
        {% else %}
          xxxxx xxxxx
        {% endif %}
      </li>
      <li>
        <i class="chv-icon chv-icon-li chv-icon-lg icon-calendar"></i>
        {{ inforequest.submission_date }}
      </li>
    </ul>
  </div>
</div>
