{% extends "admin/delete_confirmation.html" %}
{% load amend prepend from poleno.amend %}

{% block content %}
  {% amend %}
    {{ block.super }}
    {% if object.type == object.TYPES.EXPIRATION or object.type == object.TYPES.APPEAL_EXPIRATION %}
      {% prepend path=".//form" %}
        <p><label><input name="snooze" type="checkbox" /> Extend snooze of previous action by {{ ADMIN_EXTEND_SNOOZE_BY_DAYS }} days from today.</label></p>
      {% endprepend %}
    {% endif %}
  {% endamend %}
{% endblock %}
