{% extends "admin/delete_confirmation.html" %}
{% load i18n %}
{% load amend prepend before after delete from poleno.amend %}

{% block content %}
  {% amend %}
    {{ block.super }}
    {% after path="./ul[last()]" %}
      {% if outbound %}
        <p>Outbound messages will be deleted:</p>
        <ul>{{ outbound|unordered_list }}</ul>
      {% endif %}
      {% if inbound %}
        <p>Inbound messages will be marked undecided:</p>
        <ul>{{ inbound|unordered_list }}</ul>
      {% endif %}
    {% endafter %}
    {% if not object.is_last_action %}
      {% before path=".//form" %}
        <p>
          <b>Warning:</b> The deleted action is not the last action in the branch. Deleting it may
          cause logical errors in the inforequest history.
        </p>
      {% endbefore %}
    {% endif %}
    {% if object.type == object.TYPES.EXPIRATION or object.type == object.TYPES.APPEAL_EXPIRATION %}
      {% prepend path=".//form" %}
        <p><label><input name="snooze" type="checkbox" /> Extend snooze of previous action by {{ ADMIN_EXTEND_SNOOZE_BY_DAYS }} days from today.</label></p>
      {% endprepend %}
    {% endif %}
    {% if delete_dependency %}
      {% before path=".//form" %}
        <p class="errornote">Delete not allowed.</p>
        <ul>{{ delete_dependency|unordered_list }}</ul>
      {% endbefore %}
      {% delete path=".//form//input[@type='submit']" %}
      {% after path=".//form//input[@name='post']" %}
        <input type="submit" value="{% trans "Yes, I'm sure" %}" disabled/>
      {% endafter %}
    {% endif %}
  {% endamend %}
{% endblock %}
